.App {
    text-align: center;
    background-color: #97bd94;
    /* height: 100vh;
    width: 100vh; */
  }
  
  /* .gpe {
    font-size: 70px;
    font-weight: 600;
    color: #fdfdfe;
    text-shadow: 0px 0px 5px #b393d3, 0px 0px 10px #b393d3, 0px 0px 10px #b393d3,
      0px 0px 20px #b393d3;
  } */
  
  .gpe-img {
    height: 500px;
    width:  500px;
    border: 3px solid green;
    border-radius: 5px;
  }
  

  .timer {
    margin-top: 5rem;
    right: 0%;
    margin-right: 1rem;
  }

  .grid_div{
    height: 600px;
    margin-right: 19rem;
  }

  .problem {
    overflow-y: auto;
    height: 500px;
  }

  .input {
    margin-top: 6rem;
    align-self: center;
  }

  textarea {
    margin: auto;
  }