.srtmain{
    height: 100vh;
    scroll-behavior: auto;
    overflow-y: scroll;
}

.srtcontents{
    margin-top: 2rem;
    box-shadow: rgb(221, 213, 213) -2px 4px 30px 0px;
    padding-left: 2rem;
    height: 90vh;
}