*{
    margin: 0px;
    padding: 0px;
}

.tat_cont{
    background-color: black;
    padding-top: 2rem;
    height: 100vh;
}

.tat_cont .tat_head{
    text-align: center;
    margin-top: 2rem;
    border: 5px solid green;
    width: 60%;
    margin: auto;
    padding: 6px;
    color: white;
}

.tat_cont .tat_para{
    margin-left: 2rem;
    margin-top: 2rem;
    color: white;
}

.tat_cont .tat_btn{
    margin-left: 2rem;
}

.tat_link{
    color: white;
    background-color: rgb(9, 183, 35);
}

.tat_link:hover{
    color: black;
    background-color: white;
}