<<<<<<< HEAD
.active_item {
    padding: 10px 24px;
    border-radius: 2px;
    box-shadow: rgb(221, 213, 213) 0px 2px 3px 2px;
    background-color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: bold;
    line-height: 1.43;
    color: rgb(216, 78, 85);
    /* cursor: pointer; */
}

.item {
    padding: 10px 24px;
    border-radius: 2px;
    box-shadow: rgb(221, 213, 213) 2px 2px 4px 0px;
    background-color: rgb(232, 233, 234);
    cursor: pointer;
}

.ppdtcontent {
    width: 55rem;
}

.w-sm {
    width: 10rem;
}

h5{
    padding-top: 1rem;
    padding-left: 3rem;
=======
.active_item {
    padding: 10px 24px;
    border-radius: 2px;
    box-shadow: rgb(221, 213, 213) 0px 2px 3px 2px;
    background-color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: bold;
    line-height: 1.43;
    color: rgb(216, 78, 85);
    /* cursor: pointer; */
}

.item {
    padding: 10px 24px;
    border-radius: 2px;
    box-shadow: rgb(221, 213, 213) 2px 2px 4px 0px;
    background-color: rgb(232, 233, 234);
    cursor: pointer;
}

.ppdtcontent {
    width: 55rem;
}

.w-sm {
    width: 10rem;
}

h5{
    padding-top: 1rem;
    padding-left: 3rem;
>>>>>>> 15ce9880dda5b0197b18653a98ab0045fc99e94d
}