<<<<<<< HEAD
.tatmain{
    height: 100vh;
    scroll-behavior: auto;
    overflow-y: scroll;
}

.tatcont{
    box-shadow: rgb(188, 183, 183) -2px 4px 30px 0px;
    padding: 2%;
    color: rgb(61, 49, 71);
    border-radius: 10px;
    width: 75%;
    margin-bottom: 3rem;
}

.tatcontent{
    margin-top: 2rem;
    box-shadow: rgb(221, 213, 213) -2px 4px 30px 0px;
    padding-left: 2rem;
    height: 240vh;
}

.taturl{
    display: flex;
}

.taturl .tatinp{
    margin-top: 3rem;
    margin-left: 1rem;
}

.taturl .taturlimg{
    width: 200px;
    height: 100px;
    margin-top: 10px;
}

.submitattres{
    margin-left: 46rem;
    margin-top: 2rem;
    width: 15%;
    line-height: 30px;
    outline: none;
    margin-top: 2rem;
    border-radius: 6px;
    background-color: rgb(72, 62, 82);
    color: white;
=======
.tatmain{
    height: 100vh;
    scroll-behavior: auto;
    overflow-y: scroll;
}

.tatcont{
    box-shadow: rgb(188, 183, 183) -2px 4px 30px 0px;
    padding: 2%;
    color: rgb(61, 49, 71);
    border-radius: 10px;
    width: 75%;
    margin-bottom: 3rem;
}

.tatcontent{
    margin-top: 2rem;
    box-shadow: rgb(221, 213, 213) -2px 4px 30px 0px;
    padding-left: 2rem;
    height: 240vh;
}

.taturl{
    display: flex;
}

.taturl .tatinp{
    margin-top: 3rem;
    margin-left: 1rem;
}

.taturl .taturlimg{
    width: 200px;
    height: 100px;
    margin-top: 10px;
}

.submitattres{
    margin-left: 46rem;
    margin-top: 2rem;
    width: 15%;
    line-height: 30px;
    outline: none;
    margin-top: 2rem;
    border-radius: 6px;
    background-color: rgb(72, 62, 82);
    color: white;
>>>>>>> 15ce9880dda5b0197b18653a98ab0045fc99e94d
}