.ss_inter{
    text-align: center;
    padding-top: 3rem;
}
img{
    width: 98.5vw;
    height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.ssb-section{
    height: 800px;
    margin-left: 2rem;
}
.ssb-section .ssb-stage1{
    display: grid;
    grid-template-columns: 500px 500px;
    grid-gap: 14rem;
}

.ssb-stage1 .ssb-stage-grid1{
    height: 500px;
    box-shadow: 1px 4px 8px 3px #c4b6b6;
    margin-top: 2rem;
}

.ssb-stage-grid1 img{
    height: 400px;
    width: 400px;
    margin-left: 2rem;
    margin-top: 2rem;
}

.ssb-section .ssb-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.ssb-grid .ssb-grid1{
    height: 500px;
    box-shadow: 1px 4px 8px 3px #c4b6b6;
    margin-top: 2rem;
}

.ssb-grid1 img{
    height: 400px;
    width: 400px;
    margin-left: 2rem;
    margin-top: 2rem;
}