<<<<<<< HEAD
.heading{
    margin-left: 1rem;
    font-size: 22px;
}

.inst{
    margin-left: 1rem;
    font-size: 20px;
}

.non_ver_head{
    font-size: 20px;
    text-align: center;
    margin-top: 2rem;
}

.non_verbal h4{
    margin-left: 1rem;
    padding-top: 1rem;
    color: silver;
    font-weight: 700;
    font-size: 18px;
}

.ver_head{
    font-size: 20px;
    text-align: center;
    margin-top: 2rem;
}

.verbal h4{
    margin-left: 1rem;
    padding-top: 1rem;
    color: silver;
    font-weight: 700;
    font-size: 18px;
}

.btn_grid{
    grid-gap: 10px;
    margin-left: 32rem;
    margin-top: 8rem;
}

/* .btn_grid .btn_non{
    padding-bottom: 10px;
    padding-top: 10px;
    color: white;
    padding-left: 22rem;
    background-color: #5e93ff;
    position: sticky;
    text-decoration: none;
} */

.btn_grid .btn_ver{
    padding-right: 175px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    /* padding-left: 22rem; */
    background-color: #5e93ff;
    color: white;
    position: sticky;
    /* padding: 50px; */
    width: 50%;
    text-decoration: none;
    padding-left: 175px;
=======
.heading{
    margin-left: 1rem;
    font-size: 22px;
}

.inst{
    margin-left: 1rem;
    font-size: 20px;
}

.non_ver_head{
    font-size: 20px;
    text-align: center;
    margin-top: 2rem;
}

.non_verbal h4{
    margin-left: 1rem;
    padding-top: 1rem;
    color: silver;
    font-weight: 700;
    font-size: 18px;
}

.ver_head{
    font-size: 20px;
    text-align: center;
    margin-top: 2rem;
}

.verbal h4{
    margin-left: 1rem;
    padding-top: 1rem;
    color: silver;
    font-weight: 700;
    font-size: 18px;
}

.btn_grid{
    grid-gap: 10px;
    margin-left: 32rem;
    margin-top: 8rem;
}

/* .btn_grid .btn_non{
    padding-bottom: 10px;
    padding-top: 10px;
    color: white;
    padding-left: 22rem;
    background-color: #5e93ff;
    position: sticky;
    text-decoration: none;
} */

.btn_grid .btn_ver{
    padding-right: 175px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    /* padding-left: 22rem; */
    background-color: #5e93ff;
    color: white;
    position: sticky;
    /* padding: 50px; */
    width: 50%;
    text-decoration: none;
    padding-left: 175px;
>>>>>>> 15ce9880dda5b0197b18653a98ab0045fc99e94d
}