input[type=radio]:checked ~ .check {
    border: 5px solid var(--primary-color)
  }
  
  input[type=radio]:checked ~ .check::before{
    background: var(--primary-color)
  }
  
  input[type=radio]:checked ~ .text-primary{
    color: var(--primary-color)
  } 