<<<<<<< HEAD
.log{
    text-align: center;
    padding-top: 3rem;
  }
  
  .main-grid1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 12rem;
    padding-right: 12rem;
    padding-top: 6rem;
    height: 100vh;
    background-color: hsl(168deg 86% 36% / 34%);
  }
  
  .main-grid1 .grid-3{
    background-image: url(../images/pic8.png);
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
    box-shadow: 1px 4px 8px 3px #c4b6b6;
  }
  
  .main-grid1 .image{
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 90%);
    border-top-right-radius: 2%;
    border-bottom-right-radius: 2%;
    box-shadow: 6px 4px 8px 1px #c4b6b6;
    /* padding-right: 4rem; */
  }
  
  Form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-right: 4rem;
  }
  
  .image Form .firstform{
    padding: 0.5rem;
  }
  
  .image Form .btn1{
    margin-top: 1rem;
    margin-left: 27rem;
  }
  
  Form .placeholder{
      width: 170%;
  }

  .btn9{
    margin-left: 24rem;
    margin-top: 1rem;
  }

  .para2{
    margin-top: 1rem;
    margin-left: 3rem;
    font-size: 18px;
  }

  .para{
    margin-left: 3rem;
    font-size: 18px;
    margin-top: 1rem;
  }
  
  .s_signup{
    margin-left: 2rem;
    color: black;
  }
  
  .s_signup:hover{
    color: rgb(57, 64, 64);
    text-decoration: none;
=======
.log{
    text-align: center;
    padding-top: 3rem;
  }
  
  .main-grid1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 12rem;
    padding-right: 12rem;
    padding-top: 6rem;
    height: 100vh;
    background-color: hsl(168deg 86% 36% / 34%);
  }
  
  .main-grid1 .grid-3{
    background-image: url(../images/pic8.png);
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
    box-shadow: 1px 4px 8px 3px #c4b6b6;
  }
  
  .main-grid1 .image{
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 90%);
    border-top-right-radius: 2%;
    border-bottom-right-radius: 2%;
    box-shadow: 6px 4px 8px 1px #c4b6b6;
    /* padding-right: 4rem; */
  }
  
  Form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-right: 4rem;
  }
  
  .image Form .firstform{
    padding: 0.5rem;
  }
  
  .image Form .btn1{
    margin-top: 1rem;
    margin-left: 27rem;
  }
  
  Form .placeholder{
      width: 170%;
  }

  .btn9{
    margin-left: 24rem;
    margin-top: 1rem;
  }

  .para2{
    margin-top: 1rem;
    margin-left: 3rem;
    font-size: 18px;
  }

  .para{
    margin-left: 3rem;
    font-size: 18px;
    margin-top: 1rem;
  }
  
  .s_signup{
    margin-left: 2rem;
    color: black;
  }
  
  .s_signup:hover{
    color: rgb(57, 64, 64);
    text-decoration: none;
>>>>>>> 15ce9880dda5b0197b18653a98ab0045fc99e94d
  }