*{
    padding: 0px;
    margin: 0px;
}

.cont{
    text-align: center;
}

.btn_grid1{
    display: grid;
    grid-template-columns: 200px 200px;
    justify-content: center;
    align-items: center;
}

.btn2{
    width: 60%;
}