.showfeedback{
    height: 100vh;
    scroll-behavior: auto;
    overflow-y: scroll;
}

.ppdtfeedback{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    box-shadow: rgb(221, 213, 213) -2px 4px 30px 0px;
    padding-left: 2rem;
    height: 70vh;
}

.ppdtfeedback  p{
    font-weight: bolder;
}

.showwatfeedback{
    height: 100vh;
    scroll-behavior: auto;
    overflow-y: scroll;
}

.showtatfeedback{
    height: 100vh;
    scroll-behavior: auto;
    overflow-y: scroll;
}

.picurl{
    width: 300px;
    height: 200px;
    margin-top: 10px;
}

.btnfeedback{
    margin-top: 2rem;
    width: 30%;
    border-radius: 6px;
    background-color: blueviolet;
    color: white;
}

.ppdtbtnfeedback{
    margin-top: 1rem;
    font-size: 20px;
    font-weight: 100;
}

.watfeedback{
    margin-top: 2rem;
    box-shadow: rgb(221, 213, 213) -2px 4px 30px 0px;
    padding-left: 2rem;
    height: 120vh;
}
.tatfeedback{
    margin-top: 2rem;
    box-shadow: rgb(221, 213, 213) -2px 4px 30px 0px;
    padding-left: 2rem;
    height: 250vh;
}

.tatfeedurl img{
    width: 200px;
    height: 100px;
    margin-top: 10px;
}