.showfeedback{
    height: 100vh;
    scroll-behavior: auto;
    overflow-y: scroll;
}

.ppdtfeedback{
    margin-top: 2rem;
    box-shadow: rgb(221, 213, 213) -2px 4px 30px 0px;
    padding-left: 2rem;
    height: 70vh;
}

.btnfeedback{
    margin-top: 2rem;
    border-radius: 6px;
    background-color: blueviolet;
    color: white;
}

.ppdtbtnfeedback{
    margin-top: 1rem;
    font-size: 20px;
}

